@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #f2f2f2;
  width: 100%;
}
.linesa {
  padding: 40px 0px;
}
nav {
  background: #000;
  display: flex;
  z-index: 99;
  width: 100%;
  user-select: none;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}

nav .logo {
  color: #ff3d00;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  cursor: pointer;
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}

nav .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  transition: 0.35s;
  display: inline-block;
}

nav .nav-items li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ff3d00;
  transition: width 0.4s ease;
}

nav .nav-items li a:hover::after {
  width: 100%;
}

nav .nav-items li a:hover {
  color: #ff3d00;
}

nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover {
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.space {
  margin: 10px 0;
}
nav .logo.space {
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}
nav .logo {
  font-size: 18px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.content .space {
  margin: 10px 0;
}
.search-data::placeholder {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.596);
}
.footer {
  width: 100%;
  background-color: #222;
  user-select: none;
  color: #f9f9f9;
  padding: 40px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}
.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.footer-section p,
.footer-section ul {
  font-size: 0.9rem;
  line-height: 1.6;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin: 8px 0;
}
.footer-section ul li a {
  color: #f9f9f9;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section ul li a:hover {
  color: #ff6347;
}
.social-icons a {
  color: #f9f9f9;
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #ff6347;
}
.payment-icons i {
  font-size: 30px;
  cursor: pointer;
  margin: 10px 5px;
  transition: color 0.3s;
}

.payment-icons i:hover {
  color: #ff6347;
}
.home {
  width: 100%;
  min-height: 70vh;
  background-image: url(../img/home\ back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  /* background-color: red; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home .left {
  width: 40%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: blue; */
}
.home .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.home .left .text {
  /* background-color: red; */
}
::selection {
  background-color: #ff6347;
  color: white;
}
.home .left .text h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 50px;
  color: #ff3c00;
}
.home .left .text p {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 20px;
}
@media screen and (max-width: 670px) {
  .home {
    flex-direction: column-reverse;
  }
  .home .right {
    padding-top:100px;
    background-color:red;
    width: 100%;
  }
  .home .left {
    width: 100%;
  }
  .home .right img {
    width: 300px;
  }
  .home .left {
    display: flex;
    padding: 10px 0px 10px 10px;
    align-items: center;
    justify-content: center;
  }
}
